<form method="post" action="create">
  <label for="name">Name</label>
  <input name="name" id="name" type="text"/>

  <label for="host">Host</label>
  <input name="host" id="host" type="text"/>

  <label for="username">Username</label>
  <input name="username" id="username" type="text"/>

  <label for="password">Password</label>
  <input name="password" id="password" type="password"/>

  <label for="database">Database</label>
  <input name="database" id="database" type="text"/>

  <label for="port">Port</label>
  <input name="port" id="port" type="text"/>

  <input type="submit"/>
</form>
