<a href="#panel1a">
  Connect to Mandrill
  <% if @mandrill_details %>
    <% if @mandrill_details[:can_connect] %>
    Connection successful: user is <%= @mandrill_details[:username] %>
    <% else %>
    Connection unsuccessful
    <% end %>
  <% end %>
</a>