<form action="/verify-mandrill" method="post" ajax-form ajax-callback="mandrill_connect_response">
  <input type="text" name="key" placeholder="Your Mandrill API key" value="<%= @key %>">
</form>
<%= partial(:navigation, :locals => { on_next: "submit_my_form"}) %>
