<div class="clearfix">
  <a role="button" href="<%= @back_href %>"  class="button nav-button back left" onclick="<%= @on_back %>">Back</a>
  <a role="button" href="<%= @next_href %>"  class="button nav-button next right" onclick="<%= @on_next %>">Next</a>
</div>