<form action="/submit-template" method="post">
  <input type="text" name="key" placeholder="Mandrill template slug">
</form>
<%= partial(:navigation, :locals => { on_back: "go_back", on_next: "submit_my_form"}) %>