Your SQL should return the following columns:
<div id="merge-tags-list">
  Unique ID, Recipient Email, <%= @merge_tags.join(', ') %>
</div>
<div class="row">
  <form action="<%=url('/set-db-query') %>" method="post" ajax-form ajax-callback="preview_db_query">
    <div class="small-5 large-11 columns">
      <textarea name="db_query" placeholder="Enter your query" rows="3"><%= @db_query %></textarea>
    </div>
    <div class="small-1 column">
      <input type="submit" aria-label="preview the query" class="button tiny" value="GO"/>
    </div>
  </form>
</div>

<div class="row">
  <div id="db-query-preview" class="small-12 columns" style="min-height:2em;">
    <i>preview results go here</i>
  </div>
</div>

<%= partial(:navigation, :locals => { on_back: "go_back", on_next: "go_forward"}) %>
