<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra template</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <%= css :application %>
  </head>
  <body>
    <%= yield %>
    <%= js :application %>
  </body>
</html>
    
