<!DOCTYPE html>
<html>
  <head>
    <title>Mandrill Merge: Making Mailouts Marvellous</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <%= css :application %>
  </head>
  <body>
    <div class="row">
      <div class="small-12 columns"><%= yield %></div>
    </div>    
    <%= js :application %>
  </body>
</html>
    
