<!DOCTYPE html>
<script id="preview-template" type="text/x-handlebars-template">
  <table class="entry">
    <thead>
      <tr>
      {{#each fields}}
        <th>{{this}}</th>
      {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each rows}}
      <tr>
      {{#each this}}
        <td>{{this}}</td>
      {{/each}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</script>
<html>
  <head>
    <title>Mandrill Merge: Making Mailouts Marvellous</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <%= css :application %>
  </head>
  <body>
    <div class="row">
      <div class="small-12 columns"><%= yield %></div>
    </div>    
    <%= js :application %>
  </body>
</html>
    
