/* foundation overides */
.accordion {
  margin-bottom: 0; }
  .accordion:before, .accordion:after {
    content: " ";
    display: table; }
  .accordion:after {
    clear: both; }
  .accordion .accordion-navigation, .accordion dd {
    display: block;
    margin-bottom: 0 !important; }
    .accordion .accordion-navigation.active > a, .accordion dd.active > a {
      background: $accord-head-active; }
    .accordion .accordion-navigation.complete > a, .accordion dd.complete > a {
      background: #72C77C; }
    .accordion .accordion-navigation.error > a, .accordion dd.error > a {
      background: #c77272; }
    .accordion .accordion-navigation > a, .accordion dd > a {
      background: $accord-head-passive;
      color: #222222;
      padding: 1rem;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 1rem; }
      .accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
        background: $accord-head-active; }
    .accordion .accordion-navigation > .content, .accordion dd > .content {
      display: none;
      padding: 0.9375em; }
      .accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
        display: block;
        background: $background-color; }
