h1 {
  color: $mandrill-purple;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
}

h2.tagline {
  color: $mandrill-purple;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-style: italic;
}